* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: black;
    width: 100%;
    
    
    .conteiner-nav {
        

        .navbar-brand {
            display: flex;
            align-items: center;

            .brand {
                color: whitesmoke;
                margin-bottom: 0;
                font-size: 45px;
            }
            .logo {
                max-width: 50%;
               
            }
        }
        .menu {
            
            .navbar-nav {
                min-width: 100%;
                justify-content: center;
                gap: 3rem;

                .nav-link {
                    font-size: 30px;
                    color: white;
                }

                .dropdown-item {
                    font-size: 30px;
                }
            }
        }
       
    }

    .carrito{
        display: flex;
        margin: 5rem;
        background-color: transparent;
        border: none;

        .cartwidget {
            color: whitesmoke;
            font-size: 60px;
        }
        .cartwidget_cantidad {
            color: whitesmoke;
            font-size: 25px;
        }
    }
    
}